body { color:ffffff; font-family: Arial, sans-serif; font-size: 0.8em; overflow-x:hidden; overflow-y:auto; }
body.navy { background:#000066; }
body.blue { background:#3333AA; }
body.green { background:#007744; }
body.red { background:#662200; }

a { color: #ffaa00; font-family: Arial, sans-serif; font-size: 1.2em; font-weight: bold; margin-left: 25em; text-decoration: none; }
blockquote a { color: #ffaa00; font-family: Arial, sans-serif; font-size: 1.2em; font-weight: bold; margin-left: 0; text-decoration: none; }
a:hover { font-size:1.2em; color: #ff0000; background: #ffff99; text-decoration: none; }

h1 { color: #ffffff; font-family: Impact, sans-serif; font-size: 3.0em; padding:0; display:inline; }
h2 { color: #ffffff; font-family: Arial, sans-serif; font-size: 1.4em; padding:0; display:inline; }
h3 { color: #ffffff; font-family: Arial, sans-serif; font-size: 1.2em; padding:0; display:inline; }

hr { color: #8888dd; margin-top: 1ex; margin-bottom: 1ex; width: 40em; margin-left: .5em; text-align:left; height: 1px; }    

blockquote { color: #ffffff; margin-left: 0px; padding-left: 12px; width: 40em; text-align: justify; margin-bottom: 0px; margin-top: 0ex; }          

img { position:relative; left: -20px; margin: 0; padding: 0; }

p { padding:2px; }  

td {border-right: 1px solid #aaa; padding-right:2em; padding-left:4px; background: #444444; color: #ffffff; font-family: Arial, sans-serif; font-size: 0.8em; } 
td.type2 { background: #333333; color: #ffffff; font-family: Arial, sans-serif; font-size: 0.8em; }
td.type3 { background: #222222; color: #ffffff; font-family: Arial, sans-serif; font-size: 0.8em; }
td.type4 { background: #111111; color: #ffffff; font-family: Arial, sans-serif; font-size: 0.8em; }   

li { margin-bottom:1ex; }
li li { margin-top:1ex; margin-bottom:.5ex; }   

div {position: absolute; left: 0em; margin-left: 45em; border: 1px solid #aaf; font-family:"Arial Narrow", Arial, sans-serif; font-size: 1em; width: 10em; padding-left:5px; padding-right: 5px; }

div.blue { background-color:#5555bb; color: #ffff00; }
div.blue a { width:100%; font-family: "Arial Narrow", Arial, sans-serif; font-size: 1em; color:#ddddff; font-weight:normal; margin-left: 0em; display:block; }
div.blue a:hover { font-size:1em; background: #00ffff; color:#000066; font-weight:bold; }   

div.green { background-color:#229955; color: #ffff00; }
div.green a { width:100%; font-family: "Arial Narrow", Arial, sans-serif; font-size: 1em; color:#ddffdd; font-weight:normal; margin-left: 0em; display:block; }
div.green a:hover { font-size:1em; background: #88ffbb; color:#006600; font-weight:bold; }

div.red { background-color:#774422; color: #ffff00; }
div.red a { width:100%; font-family: "Arial Narrow", Arial, sans-serif; font-size: 1em; color:#ffdddd; font-weight:normal; margin-left: 0em; display:block; }
div.red a:hover { font-size:1em; background: #ffaaaa; color:#660000; font-weight:bold; }