/*
   ChunkStyle for phpBB2 CSS Stylesheet
   by Russellc
*/

body {
//	background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/bodybg.gif);
	background-color:#CDCFD4; cursor:default;
}
td,th {font-family:Lucida Sans Unicode,Lucida Sans,Helvetica,Arial;font-size:10px; color:#656B78}

.tableoverall {background-color:#F9F9FB;border:1px solid #656B78; width:800px}
.titleoverallheader {padding-right:3px; padding-top:4px; padding-left:3px; color:#000; border-left:1px solid #656B78; border-right:1px solid #656B78; border-bottom:1px solid #656B78; background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/titlebg.jpg); height:28px;}
.forumborder {border:1px solid #656B78; padding:0px;}
.title1 {background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/forumtop.jpg); height:28px; color:#656B78; font-weight:bold; font-size:12px; border:0px; padding-left:5px;}
.title1wbot {background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/forumtop.jpg); height:28px; color:#656B78; font-weight:bold; font-size:12px; border-bottom:1px solid #656B78; padding-left:5px;}
.title2 {background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/forumtitle2.jpg); height:18px; color:#656B78; font-weight:bold; font-size:10px; border:0px; border-top:1px solid #656B78; border-bottom:1px solid #656B78; padding-left:5px; padding-right:5px;}
.titlebottom {background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/forumbottom.jpg); height:28px; border-bottom:1px solid #656B78; border-left:1px solid #656B78; border-right:1px solid #656B78; padding-left:5px; vertical-align:middle; color:#656B78}
.titlebottomwtop {background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/forumbottom.jpg); height:28px; border-top:1px solid #656B78; padding-left:5px; vertical-align:middle; color:#656B78}
.row1 {background-color:#ECEFF2;}
.colour1 {padding-left:3px; padding-right:3px; background-color:#ECEFF2; padding-top:2px; padding-bottom:2px;}
.colour1wtop {padding-left:3px; padding-right:3px; background-color:#ECEFF2; padding-top:2px; padding-bottom:2px; border-top:1px solid #656B78}
.colour2 {padding-left:3px; padding-right:3px; background-color:#DBDDE4; padding-top:2px; padding-bottom:2px;}
.row2 {background-color:#DBDDE4;}
.colour2wtop {padding-left:3px; padding-right:3px; background-color:#DBDDE4; padding-top:2px; padding-bottom:2px; border-top:1px solid #656B78}
.smalltitletext {font-size:10px; font-family:Tahoma,Lucida Sans Unicode,Lucida SansHelvetica,Arial;}
.bigtitletext {font-size:16px; font-family: Verdana,Lucida Sans Unicode,Lucida Sans,Helvetica,Arial; font-weight:bold; letter-spacing:1px; }
select {font-size:10px; font-family:Lucida Sans Unicode,Lucida Sans,Tahoma,Helvetica,Arial; }

input.button {cursor:hand;font-family:Lucida Sans Unicode,Lucida Sans,Tahoma,Helvetica,Arial;font-size:10px; color:#656B78; background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/btnbg.jpg); border:1px solid #656B78; height:20px; }
input.singline {cursor:default;padding-left:2px; font-family:Lucida Sans Unicode,Lucida Sans,Tahoma,Helvetica,Arial;font-size:10px; color:#656B78; background-color:#F6F8F9; border:1px solid #656B78;}
textarea.multi {cursor:default;overflow:auto; border:1px solid #656B78; background-color:#F6F8F9; width:440px; height:300px; background-repeat:no-repeat; background-image:url(http://creedo.gbgl-hq.com/turtle_skybomb_ss_mishigne_files/imagesnew/postingbg.gif); padding:2px; font-family:Lucida Sans Unicode; font-size:10px; color:#656B78;}

a:link,a:visited,a:active {color:#3F4B5F; text-decoration:underline;}
a:hover {text-decoration:none;}

hr {height:1px;color:#656B78;border:1px solid #656B78;}

.code {font-family:Courier, 'Courier New', sans-serif; font-size:11px; color:#006600; background-color:#FAFAFA; border:1px solid #656B78; }
.quote {font-family:Lucida Sans Unicode,Lucida Sans,Tahoma,Helvetica,Arial; font-size:10px; color:#656B78; line-height:125%; background-color:#FAFAFA; border:1px solid #656B78;}
.copyright {font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#444444; letter-spacing:-1px;}
a.copyright {color:#444444; text-decoration:none;}
a.copyright:hover {color:#000000; text-decoration:underline;}